@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes window-in {
    0% {
        transform: scale(.9) translateZ(0);
        opacity: 0
    }
}

@keyframes window-out {
    100% {
        transform: scale(.9) translateZ(0);
        opacity: 0
    }
}

.CodeMirror {
    line-height: 1em;
    height: 100%;
    font-family: monospace;
    cursor: text;
}

.CodeMirror-scroll div {
    color: #888
}

.CodeMirror-scroll {
    height: 100%;
    position: relative;
    overflow: auto;
    color: rgba(0, 0, 0, 0);
}

    .CodeMirror-scroll:hover {
        color: var(--scroll);
    }

    .CodeMirror-scroll::-webkit-scrollbar,
    .CodeMirror-scroll::-webkit-scrollbar-thumb {
        width: 26px;
        border-radius: 13px;
        background-clip: padding-box;
        border: 10px solid transparent;
        cursor: default;
    }

    .CodeMirror-scroll::-webkit-scrollbar-thumb {
        box-shadow: inset 0 0 0 10px;
    }

    .CodeMirror-scroll::-webkit-scrollbar-track:active {
        background: var(--darkback);
        border-radius: 26px;
    }


.CodeMirror-gutter {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    background-color: var(--darkback);
    border-right: 2px solid var(--line);
    min-width: 2em;
    box-shadow: var(--shadow) 0px 0px 20px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.CodeMirror-gutter-text {
    color: #aaa;
    text-align: right;
    padding: .4em .2em .4em .4em;
    white-space: pre !important;
}

.CodeMirror-lines {
    padding: .4rem 1.4rem;
}

.activeline {
    color: var(--active) !important;
}

.CodeMirror pre {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    border-width: 0;
    margin: 0;
    padding: 0;
    background: transparent;
    font-family: inherit;
    font-size: inherit;
    padding: 0;
    margin: 0;
    white-space: pre;
    word-wrap: normal;
}

.CodeMirror-wrap pre {
    word-wrap: break-word;
    white-space: pre-wrap;
}



.CodeMirror textarea {
    outline: none !important;
}

.CodeMirror pre.CodeMirror-cursor {
    z-index: 10;
    position: absolute;
    visibility: hidden;
    border-left: 2px solid var(--main);
    transition: top 0.1s,left 0.1s,opacity 0.4s !important;
}

.CodeMirror-focused pre.CodeMirror-cursor {
    visibility: visible;
}

.CodeMirror-focused div.CodeMirror-selected {
    background: var(--selection);
}

.CodeMirror-selected {
    background: var(--unfocusedselection);
}

    .CodeMirror-searching {
        background: #ffa;
        background: rgba(255, 255, 0, .4);
    }

/* Default theme */
/*
.cm-s-default span.cm-keyword {color: #708;}
.cm-s-default span.cm-atom {color: #219;}

.cm-s-default span.cm-number {color: #164;}
.cm-s-default span.cm-def {color: #00f;}
.cm-s-default span.cm-variable {color: black;}
.cm-s-default span.cm-variable-2 {color: #05a;}
.cm-s-default span.cm-variable-3 {color: #085;}
.cm-s-default span.cm-property {color: black;}
.cm-s-default span.cm-operator {color: black;}
.cm-s-default span.cm-comment {color: #e8e8e8;}
.cm-s-default span.cm-string {color: #a11;}
.cm-s-default span.cm-string-2 {color: #f50;}
.cm-s-default span.cm-meta {color: #555;}
.cm-s-default span.cm-error {color: #f00;}
.cm-s-default span.cm-qualifier {color: #555;}
.cm-s-default span.cm-builtin {color: #30a;}
.cm-s-default span.cm-bracket {color: #cc7;}
.cm-s-default span.cm-tag {color: #170;}
*/
/*.cm-s-default span.cm-attribute {color: #00c;}
*/
.cm-s-default span.cm-header {
    font-weight: 700;
    margin-left: -20px;
}

.cm-s-default span.cm-quote {
    padding-left: 10px;
    font-weight: 700;
}

.cm-s-default span.cm-hr {
    color: #999;
}

.cm-s-default span.cm-link {
    color: #4879BD;
}

span.cm-header, span.cm-strong {
    font-weight: 700;
}

span.cm-em {
    font-style: italic;
}

.cm-comment {
    background: var(--com);
    border-radius: 3px;
}

span.cm-emstrong {
    font-weight: 700;
}

span.cm-link {
    text-decoration: underline;
}

span.cm-string {
    color: #4879BD;
    opacity: .7;
}

div.CodeMirror span.CodeMirror-nonmatchingbracket {
    color: #AF2031;
}
