@keyframes fade {
  from {
    opacity: 0;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(200px);
  }
}

@keyframes fadeOutRight {
  to {
    opacity: 0;
    transform: translateX(200px);
  }
}

@keyframes guttersFade {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
}

@keyframes window-in {
  0% {
    transform: scale(0.9) translateZ(0);
    opacity: 0;
  }
}

@keyframes window-out {
  100% {
    transform: scale(0.9) translateZ(0);
    opacity: 0;
  }
}

@font-face {
  font-family: BASE-W;
  src: url("NeverMind-Regular.ttf");
}

@font-face {
  font-family: BASE-W;
  src: url("NeverMind-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: BASE-E;
  src: url("Sarasa-Regular.ttf");
}

@font-face {
  font-family: BASE-E;
  src: url("Sarasa-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: TERM;
  src: url("Sarasa-term-Regular.ttf");
}

@font-face {
  font-family: TERM;
  src: url("Sarasa-term-Bold.ttf");
  font-weight: bold;
}

* {
  --mainfont: BASE-W, BASE-E;
  --quick: #ea6725;
}

.term * {
  --mainfont: TERM;
}

* {
  font-family: var(--mainfont);
}

*:focus {
  outline: none;
}

*::selection {
  background-color: var(--selection) !important;
}

body,
html,
.CodeMirror,
.cm-comment,
#msgbox,
.CodeMirror-selected {
  transition: background 0.3s;
}

.CodeMirror-gutter,
#tip {
  transition: all 0.3s;
}

.CodeMirror-scroll {
  transition: color 0.3s;
}

.sidebar {
  transition: all 0.3s, left 0.5s cubic-bezier(0, 0.6, 0.06, 0.99);
  line-height: 1.5rem;
}

html {
  height: 100%;
  overflow: hidden;
}

*::selection {
  background-color: var(--selection) !important;
}

body {
  height: calc(80% - 40px);
  margin: calc(5% + 40px) 5% 0 5%;
  position: relative;
}

#ctn,
#ctn > form {
  height: 100%;
  user-select: none;
}

.CodeMirror {
  line-height: 35px;
  font-family: var(--mainfont), monospace;
  font-size: 20px;
  background: transparent;
  overflow: hidden;
}

a {
  color: #aaa;
  text-decoration: none;
}

#header {
  background: var(--darkback);
  position: fixed;
  top: 0;
  left: 0;
  height: 40px;
  z-index: 1000;
  width: 100%;
  transition: all 0.2s, opacity 1s;
  -webkit-app-region: drag;
  user-select: none;
}

#header:hover {
  transition: all 0.3s, opacity 0.2s;
  box-shadow: rgba(0, 0, 0, 0.18) 0 3px 15px !important;
}

#title {
  color: var(--main);
  font-size: 19px;
  font-weight: bold;
  line-height: 40px;
  margin-left: 2%;
  margin-right: 0;
  width: 120px;
  text-align: center;
  cursor: pointer;
  transition: opacity 0.1s;
  -webkit-app-region: no-drag;
  position: fixed;
  left: 0;
  top: 0;
}

#title:after {
  content: "";
  background: var(--main);
  height: 2.3px;
  width: 0px;
  position: absolute;
  bottom: 8px;
  left: 2%;
  transition: all 0.3s;
}

#title:hover:after {
  width: 115px;
}

#title:active:after {
  width: 80px;
  transform: translateX(20px);
}

#top_file_name {
  line-height: 40px;
  font-weight: bold;
  color: var(--active);
  width: 100%;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  transition: all 0.3s;
}

#btns {
  float: right;
  height: 40px;
  -webkit-app-region: no-drag;
  position: fixed;
  right: 0;
  top: 0;
}

#btns .cornerbtn {
  display: inline-block;
  width: 60px;
  height: 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  transition: all 0.2s;
}

#btns .cornerbtn:hover {
  background-color: var(--line);
}

#btns .cornerbtn:active {
  background-color: var(--shadow);
}

#btns #close:hover {
  background-color: #e81123;
  background-image: url("close-white.svg");
}

#btns #close:active {
  background-color: #f1707a;
  background-image: url("close-white.svg");
}

#btns #minimize {
  background-image: url("minimize.svg");
  background-size: 12px 3px;
}

#btns #maxmize {
  background-image: url("maxmize.svg");
  background-size: 12px 12px;
}

#btns #fullscreen {
  background-image: url("fullscreen.svg");
  background-size: 13px 13px;
}

#btns #close {
  background-image: url("close.svg");
  background-size: 13px 13px;
}

#topbar {
  position: fixed;
  top: 40px;
  left: 0;
  padding: 0 2%;
  width: 96%;
  background: var(--darkback);
  box-shadow: rgba(0, 0, 0, 0.18) 0 3px 15px;
  height: 40px;
  opacity: 0;
  color: var(--active);
  transition: all 0.2s, opacity 1s;
  z-index: 998;
  user-select: none;
}

#topbar + #header {
  box-shadow: rgba(0, 0, 0, 0.18) 0 3px 15px;
}

#topbar:hover + #header {
  box-shadow: none;
  opacity: 1 !important;
  transition: all 0.3s, opacity 0.2s !important;
}

#topbar:hover {
  opacity: 1;
  transition: all 0.3s, opacity 0.2s;
}

#topbar * {
  vertical-align: middle;
}

#topbar .whole {
  margin: 0;
  padding: 0;
  display: inline-block;
  white-space: nowrap;
  margin-left: 10px;
  transition: all 0.3s;
}

#topbar .whole:hover {
  background: var(--line);
}

.group-title {
  font-size: 16px;
  font-weight: bold;
  line-height: 40px;
  padding-left: 10px;
  display: inline-block;
  transition: background 0.3s;
}

#settings {
  user-select: none;
}

#topbar button,
#topbar #save_btn,
#settings button {
  background: var(--background);
  color: var(--active);
  border-radius: 3px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.18) 2px 0 7px;
  text-align: center;
  margin: 0 4px;
  outline: none;
  line-height: 20px;
  cursor: pointer;
  font-size: 13px;
  transition: all 0.2s;
}

#settings strong {
  display: block;
  background: var(--quick);
  color: #fff;
  box-shadow: #0003 0 5px 15px;
  padding: 10px;
  margin: 20px 0;
  border-radius: 5px;
}

#topbar button,
#topbar #save_btn,
#settings button {
  padding: 5px 13px;
}

#topbar button:hover,
#topbar #save_btn:hover,
#settings button:hover,
#tool_bar button:hover {
  transform: scale(1.1);
}

#topbar button:active,
#topbar #save_btn:active,
#settings button:active,
#tool_bar button:active {
  transform: scale(0.9);
}

#settings > div:nth-last-child(1) {
  margin-bottom: 50px;
}

#settings > div > div {
  height: 40px;
}

#settings > div > div * {
  vertical-align: middle;
}

#settings button {
  float: right;
}

#topbar .save {
  float: right;
  margin-right: 1%;
  height: 40px;
  white-space: nowrap;
}

#topbar #save_info {
  display: inline-block;
  position: absolute;
  top: 2px;
  right: 100px;
  line-height: 40px;
  color: #aaa;
  vertical-align: middle;
}

#topbar #save_btn {
  position: absolute;
  top: 5px;
  right: 3px;
  display: inline-block;
  height: 20px;
  width: 80px;
  padding: 5px 0;
  vertical-align: middle;
}

#topbar .group {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  transition: all 0.3s;
  padding: 5px 0;
  width: 0;
  opacity: 0;
  vertical-align: middle;
}

#topbar span:hover + .group,
#topbar .group:hover {
  width: auto;
  padding: 5px 10px;
  overflow: visible;
  opacity: 1;
}

#stick {
  margin-left: 20px;
  line-height: 40px;
}

.sidebar {
  position: fixed;
  left: -28rem;
  top: 40px;
  height: calc(100% - 40px);
  width: 22rem;
  color: #888;
  padding: 0 2rem;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 20px;
  background: var(--darkback);
  overflow: auto;
  z-index: 999;
  overflow-wrap: break-word;
  display: none;
  color: rgba(0, 0, 0, 0);
}

.sidebar:hover {
  color: var(--scroll);
}

::-webkit-scrollbar,
::-webkit-scrollbar-thumb {
  width: 26px !important;
  border-radius: 13px !important;
  background-clip: padding-box;
  border: 10px solid transparent !important;
  cursor: default;
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 0 10px !important;
}

.sidebar > * {
  color: var(--active);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--main) !important;
  text-shadow: var(--shadow) 0 1px 5px;
  font-weight: bold;
  transition: all 0.3s;
}

h1 {
  font-size: 29px;
  margin-top: 50px;
  line-height: 50px;
}

h1 a {
  transition: all 0.3s;
}

h2 {
  font-size: 23px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
}

blockquote p {
  border-left: var(--shadow) 4px solid;
  padding-left: 10px;
}

.cover {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: var(--shadow);
  z-index: 998;
  display: none;
  animation: fade 0.3s;
  transition: all 0.3s;
}

#msgbox {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  z-index: 998;
  background: var(--darkback);
  border-radius: 3px;
  padding: 5.5rem 2rem 4rem 2rem;
  box-shadow: rgba(0, 0, 0, 0.3) 0 5px 15px;
  animation: window-in 0.5s cubic-bezier(0.16, 1, 0.29, 0.99) backwards;
  color: #0000;
  transition: all 0.3s;
}

#msgbox:hover {
  color: var(--scroll);
}

#msgbox #box_title {
  margin-top: 0;
  position: absolute;
  top: 2rem;
  left: 2rem;
  color: var(--active) !important;
  transition: color 0.3s;
  user-select: none;
}

#msgbox #content {
  line-height: 1.7rem;
  font-size: 20px;
  overflow: auto;
  height: 100%;
  padding-bottom: 1rem;
}

#preview_box {
  color: #888;
  font-size: 16px;
}

#preview_box * {
  max-width: 100%;
}

#preview_box img {
  border-radius: 4px;
  box-shadow: #0003 0 5px 15px;
  margin: 20px 15px;
  max-width: calc(100% - 30px);
}

#preview_box .emoji {
  width: 18px;
  height: 18px;
  box-shadow: none;
  border-radius: 0;
  margin: 0;
}

#preview_box .linenums {
  overflow: auto;
}

#content::-webkit-scrollbar-track:hover {
  background: #00000005;
  border-radius: 13px;
}

#content #box {
  width: 25rem;
  height: 13rem;
  position: absolute;
  top: 50%;
  left: 50%;
  background: var(--background);
  transform: translate(-50%, -50%);
  margin: 0;
  text-align: center;
  font-size: 20px;
  line-height: 13rem;
  display: block;
  opacity: 0;
  box-shadow: var(--shadow) 0 5px 20px;
  transition: all 0.3s;
  user-select: none;
}

#msgbox #content p {
  margin-top: 0;
}

#msgbox #msg_close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  color: #000;
  user-select: none;
  color: #e00;
}

#msgbox #description {
  color: #888;
  display: block;
  font-size: 16px;
  text-align: center;
  margin: 7rem 0.6rem;
  transition: color 0.3s;
  user-select: none;
}

#content > ul {
  padding: 0;
  margin: 0;
  user-select: none;
  color: #888;
}

#content > ul > li {
  list-style: none;
  height: 3rem;
  line-height: 3rem;
  border-bottom: solid 1.5px var(--line);
  transition: all 0.2s;
  padding: 0 1rem;
  overflow: hidden;
  cursor: default;
}

#content > ul > li > span {
  opacity: 0;
  font-size: 13px;
  transition: opacity 0.2s;
  margin-right: 5px;
  cursor: pointer;
}

#content > ul > li a {
  color: var(--active);
  transition: color 0.2s;
  display: inline-block;
  height: 100%;
  width: 30rem;
  margin-left: -2rem;
  transition: all 0.3s;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

#content > ul > li:hover {
  background: var(--background);
}

#content > ul > li:hover span {
  opacity: 1;
}

#content > ul > li:hover a {
  margin-left: 0;
  width: 28rem;
}

#content > ul > li:active {
  background: var(--line);
}

#content > ul > li * {
  vertical-align: middle;
}

#content ul #new,
#content ul #quick_note {
  height: 2rem;
  line-height: 2rem;
  font-size: 16px;
}

#content ul #new {
  color: var(--main);
}

#content ul #quick_note {
  color: var(--quick);
}

#content form {
  display: inline-block;
  height: 3rem;
}

#tips {
  position: fixed;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  background: #e00;
  padding: 0.6rem 1.3rem;
  border-radius: 3px;
  color: var(--active);
  background: var(--line);
  font-size: 16px;
  animation: fade 0.6s;
  transition: all 0.3s;
  user-select: none;
}

.fname_box {
  border: none;
  color: var(--active);
  border-bottom: #0000 solid 3px;
  font-size: 16px;
  padding: 0.3rem;
  margin: 0.3rem 0.6rem;
  background: var(--background);
  box-shadow: var(--shadow) 0px 3px 10px;
  transition: all 0.3s;
}

.fname_box:hover {
  box-shadow: var(--shadow) 0px 10px 15px;
}

.fname_box:focus {
  border-bottom: var(--main) solid 3px;
  box-shadow: var(--shadow) 0px 10px 15px;
}

#content button,
#content > span {
  animation: fade 0.3s;
}

#msgbox button,
input#file-upload-button {
  background: var(--main);
  color: #fff;
  font-size: 16px;
  border-radius: 3px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.18) 2px 0 10px;
  padding: 0.3rem 1rem;
  text-align: center;
  margin: 5px 0.6rem;
  outline: none;
  line-height: 20px;
  cursor: pointer;
  user-select: none;
  transition: all 0.2s;
}

#msgbox button:hover {
  transform: scale(1.07);
}

#msgbox button:hover:active {
  transform: scale(0.9);
}

.choose ul {
  padding: 0;
}

.choose ul li {
  color: var(--active);
  list-style: none;
  font-size: 16px;
  border-bottom: solid 1.5px var(--line);
  cursor: default;
  transition: all 0.2s;
  line-height: 3rem;
  user-select: none;
}

.choose ul li:hover {
  background: var(--background);
}

.choose ul li:active {
  background: var(--line);
}

code {
  background: var(--com);
  border-radius: 3px;
  padding: 0 7px;
}

#Rmenu {
  position: fixed;
  background: var(--background);
  animation: fade 0.15s;
  box-shadow: rgba(0, 0, 0, 0.2) 0 5px 15px;
  transition: all 0.1s;
  border-radius: 3px;
  padding: 5px 0;
  display: none;
  z-index: 9999;
  user-select: none;
  font-size: 15px;
  width: 200px;
}

#Rmenu ul {
  padding: 0;
  margin: 0;
}

#Rmenu ul li {
  line-height: 33px;
  color: var(--active);
  margin: 0;
  list-style-type: none;
  cursor: default;
  transition: all 0.15s;
  padding: 0 15px;
}

#Rmenu ul li a {
  color: var(--active);
}

#Rmenu ul li:hover {
  background-color: var(--line);
}

#Rmenu ul li span {
  font-size: 13px;
  color: #888;
  float: right;
}

a:any-link {
  color: var(--main);
}

table {
  border-width: 4px;
  border-color: var(--line);
  border-collapse: collapse;
}

table th {
  border-width: 2px;
  padding: 8px;
  border-style: solid;
  border-color: var(--line);
  background-color: var(--background);
}

table td {
  border-width: 2px;
  padding: 8px;
  border-style: solid;
  border-color: var(--line);
}

table tr:nth-child(odd) {
  background: #fff3;
}

table tr:nth-child(even) {
  background: #00000005;
}

table th,
table td {
  padding: 5px 12px;
}

.file {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  display: inline-block;
  margin: 0 10px;
  line-height: 32px;
  text-align: center;
  font-size: 19px;
  font-weight: bold;
}

code,
code * {
  font-family: TERM, var(--mainfont) !important;
}

.linenums code {
  background: none;
}

.kwd,
.tag {
  color: #dc3939;
  font-weight: bold;
}

.lit {
  color: #46a609;
}

.pun {
  color: var(--active);
}

.com,
.atn {
  color: #21a366;
  font-weight: bold;
}

.str,
.atv {
  color: #d68f29;
}

button.on,
button.off {
  transform: none !important;
  height: 12px;
  width: 30px;
  border-radius: 12px !important;
  position: relative;
  margin-top: 6px !important;
  margin-right: 9px !important;
}

button.off {
  background: var(--line);
}

button.on:before,
button.off:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  border-radius: 100%;
  top: -4px;
  box-shadow: #0003 0 5px 10px;
  transition: all 0.3s;
}

button.on:hover,
button.off:hover {
  filter: brightness(1.1);
}
button.on:active,
button.off:active {
  filter: brightness(0.8);
  transition: all 0.1s;
}

button.off {
  filter: brightness(0.95);
}

button.on:before {
  left: 16px;
  background: var(--main);
}

button.off:before {
  left: -4px;
  background: #888;
}

#settings input[type="range"] {
  -webkit-appearance: none;
  background: var(--darkback);
  width: 80%;
  height: 8px;
  border-radius: 6px;
  box-shadow: #0003 0 5px 10px inset;
}

#settings input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  background: var(--main);
  border-radius: 50%;
  box-shadow: #0003 0 3px 10px;
  transition: all 0.1s;
}

#settings input[type="range"]:hover::-webkit-slider-thumb {
  filter: brightness(1.1);
}

#settings input[type="range"]:active::-webkit-slider-thumb {
  filter: brightness(0.9);
  box-shadow: #0005 0 0 0;
}

#tool_bar {
  background: var(--darkback);
  height: 40px;
  padding: 0.1rem;
  position: absolute;
  top: 15px;
  right: 2%;
  z-index: 999;
  display: none;
  box-shadow: var(--shadow) 0 3px 15px;
  border-radius: 3px;
  animation: fadeInRight 0.5s cubic-bezier(0, 0.6, 0.06, 0.99);
}

#tool_bar button {
  background: var(--background);
  color: var(--active);
  border-radius: 3px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.18) 2px 0 10px;
  padding: 0.2rem;
  text-align: center;
  margin: 5px;
  outline: none;
  line-height: 20px;
  cursor: pointer;
  user-select: none;
  transition: all 0.2s;
  width: 30px;
  line-height: 24px;
}

#font-manager {
  position: fixed;
  left: 100%;
  top: 100%;
  opacity: 0;
}

#font-manager span {
  font-family: TERM;
}

#font-manager a {
  font-family: BASE-W, BASE-E;
}
