.CodeMirror-dialog {
    position: absolute;
    right: 2%;
    margin-top: 15px;
    background: var(--darkback);
    border-radius: 3px;
    z-index: 15;
    padding: .1em .8em;
    overflow: hidden;
    color: inherit;
    box-shadow: var(--shadow) 0 3px 15px;
    color: #999;
    transition: all .3s;
    animation: fadeInRight .5s cubic-bezier(0, 0.6, 0.06, 0.99);
}

    .CodeMirror-dialog-top {
        top: 0;
    }

.CodeMirror-dialog-bottom {
    bottom: 0;
}

.CodeMirror-dialog input {
    border: none;
    outline: none;
    background: transparent;
    width: 20em;
    color: var(--active);
    transition: color .3s;
    font-size: 18px;
}

.CodeMirror-dialog *{
    vertical-align:middle;
}

.CodeMirror-dialog button {
    font-size: 70%;
    background: var(--background);
    color: var(--active);
    border-radius: 3px;
    border: none;
    box-shadow: rgba(0,0,0,0.18) 2px 0 10px;
    padding: 5px 10px;
    text-align: center;
    margin: 5px .5% 5px .5%;
    outline: none;
    line-height: 20px;
    cursor: pointer;
    transition: all .2s;
}

    .CodeMirror-dialog button:hover {
        transform: scale(1.07);
    }

    .CodeMirror-dialog button:active {
        transform: scale(.9);
    }

.CodeMirror-search-hint {
    font-size: 14px;
    display:inline-block;
    line-height:20px;
}

*::selection {
    background-color: var(--selection) !important;
}
